#modal-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-box-title {
  display: flex;
  justify-content: center;
  font-weight: 900;
  color: blue;
}

.reps-sets {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.reps-box-title {
  color: palevioletred;
}

.sets-box-title {
  color: palevioletred;
}

.workout-form-sub-btn {
  background-color: blue;
  color: white;
  font-weight: bold;
  width: 100%;
}
