#modal-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}



.modal-box-title {
  display: flex;
  justify-content: center;
  font-weight: 900;
  color:#1976d2;
}

.reps-sets {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.reps-box-title {
  color: palevioletred;
}

.sets-box-title {
  color: palevioletred;
}

.workout-form-sub-btn {
  background-color :#1976d2;
  color: white;
  font-weight: bold;
  width: 100%;
}



#box-legs {
 
  display: none;
  z-index: 5;

}

#box-abs {
 
  display: none;
  z-index: 5;

}


#box-chest {
 
  display: none;
  z-index: 5;

}

#box-back {
 
  display: none;
  z-index: 5;

}