.main-body-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 10px 10px 10px;
}

.workouts-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50%;
    grid-gap: 5px;
}



.workout-box{
    border-radius: 25px;
    display: flex;
    flex-direction: column;
border-style: solid;
border-color: #f2f2f2;
}

.workout-box-title{
    height: 20%;
    font-weight: bold;
padding: 15px;
text-align: left;
}