.main-body-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 10px 10px 10px;
}

.workouts-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50%;
    grid-gap: 5px;
}



.workout-box{
    border-radius: 25px;
    display: flex;
    flex-direction: column;
border-style: solid;
border-color: #f2f2f2;
text-align: left
}

.workout-box-title{
    height: 15%;
    font-weight: bold;
padding-left: 15px;
padding-top: 15px;
padding-right: 15px;

text-align: left;
}

.workout-box-activities{
    text-align: left;
color: rgb(96, 95, 95) ;
padding-left: 15px;
padding-right: 10px;
}